:root {
    @extend %root;

    /* Primary color shades */
    --md-primary-fg-color: #242930;
    --md-primary-fg-color--light: #242930;
    --md-primary-bg-color: #FAFCFE;
    --md-primary-bg-color--light: #FAFCFE;

    /* Accent color shades */
    --md-accent-fg-color: #EC0B43;
    --md-accent-fg-color--transparent: #EC0B43;
    --md-accent-bg-color: #EC0B43;
    --md-accent-bg-color--light: #EC0B43;
}

/* Allow to explicitly use color schemes in nested content */
[data-md-color-scheme="default"] {
    @extend %root;

    /* Indicate that the site is rendered with a light color scheme */
    color-scheme: light;
}
